{% extends "shop/base.html" %}
{% block content %}

<div class="row">
    <div class="col-md-12">
    <form class="card card-sm">
    <div class="card-body row no-gutters align-items-center">
        <div class="col">
        <input placeholder="Entrer le nom du produit que vous recherchez"   type="search" name="item-name" class="form-control form-control-borderless "></input>
        </div>
        <div class="col-auto">  
            <button class="btn btn-success"  >Rechercher</button>
        </div>  
    </div>
    </form>
    </div>
    </div>

    <div class="row">
{% for product in product_object %}
    <div class="col-md-3">
    <div class="card">
        <img style="" src="{{ product.image }}" alt="" class="card-ing-top">
    <div class="card-body">
        <div class="card-title">{{ product.title}}</div>
        <div style="color: green" class="card-text">{{ product.price }} DH</div>
        <a href="{{ product.id }}" class="btn btn-warning">Voire</a>
        <button class="btn btn-success">Ajouter au panier</button>
    </div>
    </div>
        </div>
        {% endfor %}
        </div>

<div class="row mt-3">
    <div class="col-md-3 offset-md-4">
        <ul class="pagination">
            {% if product_object.has_previous %}
            <li class="page-item">
            <a class="page-link" href="?page={{ product_object.previous_page_number }}">Precednt</a>
            </li>
            {% endif %}

            <li class="page-item active">
                <a class="page-link" href="?page={{ product_object.number }}">{{ product_object.number }}</a>
            </li>

            {% if product_object.has_next %}
            <li class="page-item">
            <a class="page-link" href="?page={{ product_object.next_page_number }}">Suivant</a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>





        {% endblock %}